body {
    background-color: #DDE6ED;
    color: #27374D;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar {
    margin: auto;
    padding: 1%;
}

.navbar-brand {
    font-family: 'Source Serif Pro', serif;
    font-weight: 200;
}

.fade-in {
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}

.fade-in.appear {
    opacity: 1;
}

.from-above {
    opacity: 0;
    transform: translateY(-50px);
    letter-spacing: .01rem;
    transition: opacity 1000ms ease-in-out, transform 1000ms ease-in, letter-spacing 2500ms ease-in-out;
}

.from-above.appear {
    transform: translateY(0);
    letter-spacing: .25rem;
    opacity: 1;
}

.main-title {
    padding: 6%;
    font-family: 'Zeyada', cursive;
    font-size: 5vw;

    /*tablet setting*/
    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 6.5vw;
    }

    /*smaller screens setting*/
    @media (min-width: 0px) and (max-width: 767.98px) {
        font-size: 6.5vw;
    }
}

h1,
h3 {
    font-family: 'Source Serif Pro', serif;
    font-weight: 200;
    color: #526D82;
}

h1 {
    font-size: 3vw;

    /*tablet size setting*/
    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 4vw;
    }

    /*smaller screens setting*/
    @media (min-width: 0px) and (max-width: 767.98px) {
        font-size: 5vw;
    }
}

h3 {
    font-size: 1.5vw;

    /*tablet setting*/
    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 2vw;
    }

    /*smaller screens setting*/
    @media (min-width: 0px) and (max-width: 767.98px) {
        font-size: 3vw;
    }
}

h2 {
    font-family: 'Zeyada', cursive;
    font-size: 3vw;
    color: #526D82;

    /*tablet setting*/
    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 4.5vw;
    }

    /*smaller screens setting*/
    @media (min-width: 0px) and (max-width: 767.98px) {
        font-size: 5vw;
    }
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:hover {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

.card-text>a:visited {
    text-decoration: none;
    color: inherit;
}

.card-text>a:active {
    text-decoration: none;
    color: inherit;
}

.work {
    padding: 10.5%;
    font-size: 5vw;
}

.card-group {
    font-size: 1.5vw;
    background-color: #DDE6ED;
    color: #27374D;
    font-family: 'Roboto Condensed', sans-serif;
}

.card {
    margin: 5px 10px;
}

.card-title {
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    color: #526D82;
}

.card-text {
    font-size: 1vw;

    /*tablet setting*/
    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 2vw;
    }

    /*smaller screens setting*/
    @media (min-width: 0px) and (max-width: 767.98px) {
        font-size: 3vw;
    }
}

.btn {
    background-color: #526D82;
    color: #DDE6ED;
}

.btn:hover {
    background-color: #DDE6ED;
    border-color: #526D82;
    color: #526D82;
}

.contact {
    padding: 3% 10%;
    font-size: 5vw;
}

.mypic {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    z-index: -1;
}

img {
    display: inline;
    margin: 0 auto;
    width: 100%;
    height: auto;

}

.name {
    font-weight: 400;
    margin: -2rem;
    padding: 0 0 12% 13%;
    font-size: 4vw;
    z-index: 2;
    letter-spacing: .05rem;
    color: #9DB2BF;
    text-shadow: #DDE6ED 1px 0 10px;

    /*tablet setting*/
    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 7vw;
        margin: -2.5rem;
    }

    /*smaller screens setting*/
    @media (min-width: 0px) and (max-width: 767.98px) {
        font-size: 8.5vw;
        margin: -3rem;
    }
}

.available {
    font-size: 3vw;
    font-family: 'Zeyada', cursive;

    /*tablet setting*/
    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 4vw;
        margin: 2.5rem 0;
    }

    /*smaller screens setting*/
    @media (min-width: 0px) and (max-width: 767.98px) {
        font-size: 5vw;
        margin: 2rem 0;
    }
}

.highlights {
    padding: 2% 8% 13% 8%;
    font-size: 5vw;
}

.highlight-info {
    padding: 2% 13% 0% 13%;
}

.highlight-info,
.contact-info {
    font-size: 1.5vw;
    color: #27374D;


    /*tablet setting*/
    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 2vw;
    }

    /*smaller screens setting*/
    @media (min-width: 0px) and (max-width: 767.98px) {
        font-size: 3vw;
    }
}

li {
    list-style-type: none;
}

.contact-info a:visited {
    text-decoration: none;
    color: inherit;
}

.contact-info a:active {
    text-decoration: none;
    color: inherit;
}

.footer {
    background-color: #9DB2BF;
    color: #526D82;
    padding: 1.5%;
}